html
    head
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
    body
        .section
            .containers
                .container
                    form(method='post', action='/submit')
                        .field
                            label.label Enter the URL
                            .control
                                input.input(name='targeturl', type='text', placeholder='https://www.example.com')
                            
                            .control
                                button.button.is-primary Submit
                    form(method='get', action='/index')
                        .control
                            button.button.is-primary Check Cache Sizes
                    form(method='get', action='/destroy')
                        .control
                            button.button.is-primary Delete Cache 
